#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='nvim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
export PYTHONDONTWRITEBYTECODE=1

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
#export GPG_TTY=$(tty);

# For flutter development
export CHROME_EXECUTABLE=/usr/bin/chromium

export BROWSER=/usr/bin/firefox
export KUBECONFIG=~/.kube/config

export ERL_AFLAGS="-kernel shell_history enabled"

export FLYCTL_PATH="/home/viktor/.fly"

export GOOGLE_APPLICATION_CREDENTIALS=$HOME/.config/gcloud/application_default_credentials.json
export GCLOUD_ARTIFACT_REGISTRY_CREDENTIALS=$(cat $GOOGLE_APPLICATION_CREDENTIALS | base64)

export KUBECTL_EXTERNAL_DIFF="colordiff -N -u"
export UV_KEYRING_PROVIDER=subprocess
export PYENV_ROOT="$HOME/.pyenv"

export VPN_USER="vmelker"

export TERMINAL=/usr/bin/ghostty
export PATH=$PATH:$HOME/.local/bin

#!/bin/sh
export XDG_CONFIG_HOME=$HOME/.config

# add default location for zeit.db
export ZEIT_DB="$HOME/.config/zeit.db"

# set default shell and terminal
export SHELL=/usr/bin/zsh
export TERMINAL_COMMAND=xdg-terminal-exec
